<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
            <a href="/logout" class="px-2 py-1 rounded-md bg-red-500 mb-3 ">Logout</a> <br><br>
            <h3 class="text-3xl mb-3 me-3">Hello, <%= user.name %> 👋️ </h3>
        <form action="/post" method="post">
            <h4 class="mb-2 text-zinc-300">Create a new post.</h4>
           <textarea placeholder="Whats on your mind..." class="w-1/3 bg-transparent border-2 border-zinc-800 p-2 outline-none resize-none " name="content"></textarea> <br>
            <input class="px-3 py-2 bg-blue-500 rounded-md mt-2" type="submit" value="Create New Post">
        </form>

        <div class="posts mt-10">
            <h2 class="text-zinc-400">Your Posts.</h2>
            
            <% if (user.posts.length > 0) { %>
                <div class="postcontainer mt-5 flex gap-2" style="flex-wrap: wrap;">
                    <% user.posts.reverse().forEach((post) => { %>
                        <div class="post w-1/3 p-3 mb-3 rounded-md border-2 border-zinc-700 bg-zinc-800">
                            <h4 class="text-blue-500 mb-2">@<%= user.username %></h4>
                            <p class="text-sm tracking-tight"><%= post.content %></p>
                            <div class="btns flex gap-4 mt-2">
                                <a class="text-blue-500" href="">Like</a>
                                <a href="" class="text-zinc-400">Edit</a>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } else { %>
                <p>No posts available.</p> <!-- Debugging line -->
            <% } %>

        </div>
    </div>
</body>
</html>