<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>express, mongodb curd</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body class="bg-zinc-900">
    <div class="w-full h-full bg-zinc-900 text-white p-10">
        <nav class="nav mb-10">
            <a href="/read" class="text-blue-500">Read Users</a>
        </nav>
        <h1 class="text-3xl tracking-tighter mb-3">Edit User</h1>
       <form action="/update/<%= user._id %>" method="post">
        <input value="<%= user.name %>" type="text" name="name" placeholder="name" class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg bg-transparent">
        <input value="<%= user.email %>" type="email" name="email" placeholder="email" class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg bg-transparent">
        <input value="<%= user.image %>" type="text" name="image" placeholder="image url" class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg bg-transparent">
        <input type="submit" value="Update User" class="py-2 px-3 ml-2 bg-yellow-500 rounded-lg">
       </form>
    </div>
</body>
</html>